* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(30, 120, 204, 1),rgba(222, 11, 215, 0.6)),url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
#a{
    color: white;
    font-family:'Times New Roman', Times, serif;
    height: 40px;
    font-size: 50px;
    font-weight: bold ;
    font-style: italic;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0%;
    background: rgba(222, 11, 215, 0.6);
    position: absolute;
    left:0px ;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-transform: uppercase;
}
button{
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgba(30, 120, 204, 1);
    background: transparent;
    color: white;
    cursor:pointer;
    position: relative;
    overflow: hidden;
}
span{
    background:rgba(30, 120, 204, 1);
    height: 100%;
    width:0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;}
/* 
.second{
    width: 100%;
    position: absolute;
    top: 80%;
    transform: translateY(-0%);
    text-align: bottom center;
    color: white;
}
.second h1{
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}
.second p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-align: center;
} */